$app-base: #fe7f76
$dark-base: #1d1d1d
$close-btn-color: #ff6057
$minimize-btn-color: #febc2e
$copyright-color: #a2a2a2
$light-header: #e3e3e3
$dark-header: #0a0a0a

.text-brand
  color: $app-base !important
.bg-brand
  background-color: $app-base !important
