$close-btn-color: #ff6057
$minimize-btn-color: #febc2e

//:root
//  font-family: Inter, Avenir, Helvetica, Arial, sans-serif
//  font-size: 16px
//  line-height: 24px
//  font-weight: 400
//
//  color: #0f0f0f
//  background-color: #f6f6f6
//
//  font-synthesis: none
//  text-rendering: optimizeLegibility
//  -webkit-font-smoothing: antialiased
//  -moz-osx-font-smoothing: grayscale
//  -webkit-text-size-adjust: 100%

*
  box-sizing: border-box

.sticky-table
  height: 413px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    background-color: #e8e8e8

  thead tr th
    position: sticky
    z-index: 1

  thead tr:last-child th
    top: 48px

  thead tr:first-child th
    top: 0

  tbody
    scroll-margin-top: 48px


.top-tools
  &.q-toolbar
    min-height: 30px

  button
    min-height: 1.4em !important
    min-width: 1.4em !important
    color: $grey-10

  .window-btn
    padding: 0px 15px 0px 10px
    display: flex
    justify-content: space-between
    min-width: 62px
    .close-btn
      background-color: $close-btn-color
    .minimize-btn
      background-color: $minimize-btn-color

  .q-tabs
    margin-left: 20px

  .q-img
    height: 20px
    width: 20px

  .q-field
    .q-field__control
      height: 28px

.table-loader
  position: absolute !important
  top: 48px
  width: 100%
  div.q-skeleton
    margin: 0 auto
